*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    background-color:white;
}
.cell{
    width: 75px;
    height:75px;
    border:2px solid black;
    box-shadow:0 0 0 2px;
    line-height:75px;
    font-size: 50px;
    text-align: center;
    cursor: pointer;
    
}
#cellContainer{
    display: grid;
    grid-template-columns: repeat(3,auto);
    width:225px;
    margin: auto;
    
}
#container{
    font-family:"Permanent Marker",cursive;
    text-align: center;
    
}
button{
    font-family:"Permanent Marker",cursive;
    border-radius: 0;
    width: 100px;
    height:50px;
    font-size: larger;
    font-weight: bold;
    border: none;
    cursor: pointer;
    background-color:orange;
}